.list-description {
    margin-left: 100px;
}

.adv {
    color: darkblue;
}

section {
    margin-bottom: 20px;
    margin-top: 10px;
}

details {
    margin-top: 10px;
}

summary:hover {
    cursor: pointer;
}
