/* @import url(https://fonts.googleapis.com/css?family=Fira+Sans|Roboto&display=swap); */
@font-face {
  font-family: 'lobster';
  src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
       url('../fonts/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url("../fonts/FiraSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FiraSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/FiraSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/FiraSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/FiraSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/FiraSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url("../fonts/FiraSans-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FiraSans-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/FiraSans-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/FiraSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/FiraSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/FiraSans-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-font-color: #333;
  --secondary-font-color: #536390;
  --button-bg-color: #fff;  
  --bg-color: #edf0f1;  
  --btn-submit-bg-color: #333;
  --btn-submit-bg-color-hover: rgba(0,0,0,.7);
  --btn-cancel-bg-color-hover: rgba(197,197,197,.7);
  --todo-li-box-shadow: rgba(44,62,80,.1);
  --active-focused: #87CEFA;
  --heading-color: #454539;
  --nothing-todo-color: #C0C0C0;
  --input-textarea-color: #f6f6f6;
  --edit-img: url(../img/edit-black.png);
  --save-img: url(../img/save-black.png);
  --remove-img: url(../img/remove-black.png);
  --completed-task: #fdfdfd;
  --Description-editable-bg: #E9E9E9;
}

[data-theme='dark'] {
  --primary-font-color: #e1e1ff;
  --btn-submit-bg-color: #f1f0ea;
  --btn-submit-bg-color-hover: rgba(241,240,234, .7);
  --btn-cancel-bg-color-hover: rgba(60,60,60,.7);
  --secondary-font-color: #818cab;
  --button-bg-color: #3c3c3c;
  --bg-color: #161625;
  --heading-color: #a09fbf;
  --nothing-todo-color: #595959;
  --input-textarea-color: #3c3c3c;
  --input-textarea-color: #222;
  --completed-task: #3f3f3f;
  --Description-editable-bg: #161625;
  --edit-img: url(../img/edit-white.png);  
  --save-img: url(../img/save-white.png);
  --remove-img: url(../img/remove-white.png);

}

body {
  font-family: 'FiraSans-Regular', sans-serif;
  color: var(--primary-font-color);
  background: var(--bg-color);
  margin: auto;
  max-width: 60em;
  font-size: 18px;
  padding: 1rem;
}

.container {
  margin: 20px;
}

#theme-switcher{
  color: inherit;
}

option{
  background-color: var(--bg-color);
}

#clear{
  color: inherit;
  background-color: var(--button-bg-color);
  margin-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 { 
  color: var(--heading-color);
  font-family: Lobster, serif;
  font-size: 30px;
  margin: 0 20px 20px;
}

 h2 {
    font-size: 14px;
    margin: 0 8px;
    display: inline;
  }
  
.post-meta {
  font-size: 1rem;
  font-style: italic;
  color: var(--secondary-font-color);
  margin: -15px 20px 30px;
}

a { 
  text-decoration: none;
  color: var(--primary-font-color);
}

li a:hover,
li a:focus,
li a:active,
button:hover, 
button:focus,
button:active {
  background-color: var(--active-focused);
}
  
.thin-box, li a, button, select{ 
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--primary-font-color);
  border-radius: 7px;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  background-color: var(--button-bg-color);	
}

li:last-child a, .thin-box:last-child, button {
    margin-right: 0;
}

button{
  background-color: inherit;
}

input, 
textarea {
  color: inherit;
  font-size: inherit;
  padding: 0.25rem 0.75rem;
  margin: 0; 
  background-color: var(--input-textarea-color);
  height: 3rem;
  border-radius: 7px;
  border: none;
}

.checkbox {
  line-height: 15px;
  width: 17px;
  height: 17px;
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-bg-color);
  border-radius: 3px;
  margin: 0 5px 0 0;
}

#btn-submit{
  background-color: var(--btn-submit-bg-color);
  border: 2px solid var(--primary-font-color);
  color: var(--button-bg-color);
  cursor: pointer;	
}

#btn-cancel{
  background-color: var(--button-bg-color);
  color: var(--primary-font-color);
  border: 2px solid var(--primary-font-color);
  cursor: pointer;
}

  /* flex it */
form > div, lists, header, ul, section, .listItem{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul, section, header{
  margin-bottom: 32px;
}

textarea,
input{ 
  font: inherit;
  flex: 1;
  margin-bottom: 16px;
}

label{
    flex: 0 9rem;
}

#btn-cancel,
#btn-submit{
  flex-basis: 45%;
}

#btn-submit:hover{
  background-color: var(--btn-submit-bg-color-hover);
}

#clear:hover,
#btn-cancel:hover{
  background-color: var(--btn-cancel-bg-color-hover);
}

/* sending last element to the most right */
#sorter li:last-child, #change-background{
  margin-left: auto;
}

#lists ul, .listItem li {
  margin-top: 16px;
  display: flex;
  flex-flow: column;
}

.listColumen1{
  flex-basis: 80%;
}

.listItemRowOne, .listItemRowTwo{
display: flex;
flex-flow: row;
}

.listItemRowOne{
margin-bottom: 20px;
}

.itemDone, .itemImportancy, .itemCheckbox{
  flex-basis: 25%;
}

.itemCheckbox > label{
    cursor: pointer;
}
    
.itemImportancy {
font-size: 12px;
}

.itemTitle{
  flex-basis: 50%;
}

.itemDescription{
  flex-basis: 75%;
}

input.Description-editable{
  flex-basis: 100%;
  background-color: var(--Description-editable-bg);
  width: 100%;
  margin: 0;
}

.buttons{
  align-self: flex-end;
}
.todo li{
	color: inherit;
	background: var(--input-textarea-color);
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px var(--todo-li-box-shadow);
	margin-bottom:1rem;
	padding: 10px;
	word-wrap: break-word;
}

.buttons button{
  cursor: pointer;
	transition: background-color .2s ease;
	}

.buttons button.edit, button.save, button.remove{
    padding: 16px;
    border: 0.1rem solid rgb(5, 159, 255);  
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: var(--edit-img);
    background-position: center;
  }

 .buttons button.save{
   border: 0.1rem solid rgb(49, 200, 49);
   background-image: var(--save-img);
}

.buttons button.remove{ 
  border: 0.1rem solid rgb(200, 49, 49, 0.5);
  background-image: var(--remove-img);
}

.buttons button.edit:hover{
  background-color:rgb(5, 159, 255, 0.5);
}

.buttons button.remove:hover{
  background-color:rgb(200, 49, 49, 0.2);
}

.buttons button.save:hover{    
  background-color:	rgb(49, 200, 49, 0.5);
}

#todo:after{
  text-align:center;
  color:var(--nothing-todo-color) !important;
  margin: 20px 0;
}

#todo:empty:after{
  /* content:"Nichts zu tun"; */
 content: attr(data-content);
}

/* Edit Task */
ul.todo li input[type=text] {
  display:block !important;
  height: 16px;
}

ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
} 

.completed li{
	background: var(--completed-task);
	opacity: .5;
}

#completed:after, #todo:after{
	text-align:center;
	color:silver;
}
